@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body{
  background-color: #f6f6f8;
}

.main-header{
  text-align: center;
 
  font-size: 35px;
}

.main-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  max-width: 100%;
  height: 100vh;
  gap: 80px;
}

.leaf {
  width: 700px;
}


.heading{
  font-weight: 300;
  font-size: 35px;
  padding-bottom: 20px;
  text-align: center;
}

.countdown-container{
  padding-top: 380px;
  width: 700px;
  align-items: center;
  height: 100vh;
}

.countdown-container .countdown{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.countdown-container .moving-header{
  font-weight: 300;
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
}

.countdown-container .small-header{
  font-weight: 300;
  text-align: center;
  font-size: 25px;
  padding-bottom: 35px;
}

.day, .hour, .minute, .second {
  font-size: 2rem;
}




@media only screen and (max-width: 480px){

  .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    gap: 0px;
    overflow: hidden;
  }

  .leaf {
   
    order: 2;
    width: 430px;
    
  }

  .heading{
    font-weight: 300;
    font-size: 25px;
    padding-top: 35px;
    padding-bottom: 0px;
    text-align: center;
  }
  

  .countdown-container{
    padding-top: 0px;
    width: 380px;
    align-items: center;
  }


  .countdown-container .countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  
  .countdown-container .moving-header{
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .countdown-container .small-header{
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
  }

  .day, .hour, .minute, .second {
    font-size: 1.2rem;
    
  }
  
}